body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #1ee2e7;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

/** overriding bootstrap**/
.btn{
  border-radius: 2px;
  border-color: transparent;
  font-weight: 600;

}
.btn:hover{
  border-color: transparent;
  box-shadow: 0px 1px 8px #FFFFFF;
  -moz-box-shadow: 0px 1px 8px #FFFFFF;
  -webkit-box-shadow: 0px 1px 8px #FFFFFF;
}
.navbar-default{
  border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav> li > a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}
.navbar-default .navbar-nav> li > a:hover {
    color: green;
    font-size: 1.2em;
    font-weight: 700;
}
    @media(max-width:768px) {
      .navbar-default{
        background-color: rgba(0,0,0,0.3);
      }
    }
/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    padding: 15px 0;
    background-color: rgba(34, 34, 34, 0.3);
    color: #fff;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default .navbar-brand{
    color: #fff;
  }
  .navbar-default.affix {
    padding: 0;
    background-color: #000;
    border-color: transparent;

    /* Add additional styles here for the COLLAPSED state */
  }
}

/**header**/
header{
  height: 700px;
  text-align: center;
  background-attachment: scroll;
  background-image: url("bandipur_slid.jpg");
  background-position: center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header .intro-text {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
section {
    padding: 60px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}
